* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.banner {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.banner video {
   position: absolute;
   ;
   object-fit: cover;
   width: 100%;
   height: 100%;

}

.banner h1 {
   font-size: 60px;
   position: absolute;
   z-index: 3;
   color: green;
   font-family: Arial, Helvetica, sans-serif;
}

.kotak {
   width: 100%;
   height: 100vh;
   position: absolute;
   z-index: 2;
   background-color: rgba(0, 0, 0, 0.6);
}

body {
   font-family: sans-serif;
   background: #d5f0f3;
}

h1 {
   text-align: center;
   /*ketebalan font*/
   font-weight: 300;
}

.tulisan_login {
   text-align: center;
   /*membuat semua huruf menjadi kapital*/
   text-transform: uppercase;
}

.kotak_login {
   width: 350px;
   background: white;
   /*meletakkan form ke tengah*/
   margin: 80px auto;
   padding: 30px 20px;
}

.kotak_about {
   width: 500px;
   background: white;
}

.kotak_input {
   width: 600px;
   background: white;
   /*meletakkan form ke tengah*/
   margin: 80px auto;
   padding: 30px 20px;
}

label {
   font-size: 11pt;
}

.form_login {
   /*membuat lebar form penuh*/
   box-sizing: border-box;
   width: 100%;
   padding: 10px;
   font-size: 11pt;
   margin-bottom: 20px;
}

.tombol_login {
   background: #46de4b;
   color: white;
   font-size: 11pt;
   width: 100%;
   border: none;
   border-radius: 3px;
   padding: 10px 20px;
   margin-bottom: 20px;
}

.tombol_daftar {
   background: #444444;
   color: white;
   font-size: 11pt;
   width: 100%;
   border: none;
   border-radius: 3px;
   padding: 10px 20px;
}